@font-face {
  font-family: "Ubuntu-Bold";
  src: url(../../../assets/fonts/Ubuntu-Bold.ttf) format("opentype");
}

@font-face {
  font-family: "Ubuntu-Medium";
  src: url(../../../assets/fonts/Ubuntu-Medium.ttf) format("opentype");
}

@font-face {
  font-family: "Ubuntu-Regular";
  src: url(../../../assets/fonts/Ubuntu-Regular.ttf) format("opentype");
}