$palette: (
  primary: (
    main: #0F3163,
    dark: #0F3163,
    light: #164B89,
    contrastText: #FFFFFF
  ),
  secondary: (
    main: #5046F3,
    dark: #5046F3,
    light: #938CFE,
    contrastText: #FFFFFF
  ),
  tertiary: (
    main: #FFFFFF,
    dark: #FFFFFF,
    light: #FFFFFF,
    contrastText: #9E9FA3,
  ),
  highlight: (
    main: #F8F9FE,
    dark: #BBDFF5,
    light: #F8F9FE,
    contrastText: #9E9FA3
  ),
  error: (
    main: #BD4D5B,
    dark: #BD4D5B,
    light: #BD4D5B,
    contrastText: #FFFFFF,
  ),
  gray: (
    100: #F5F5F5,
    200: #EEEEEE,
    300: #E0E0E0,
    400: #BDBDBD,
    500: #9E9E9E,
    600: #757575,
    700: #616161,
    800: #424242,
    900: #212121,
  )
);

@function useColor($color, $shade){
  @if map-has-key($palette, $color){
    $color: map-get($palette, $color);

      @if map-has-key($color, $shade){
        $tone: map-get($color, $shade);
        @return $tone;
      }

      @warn "unknown shade `#{$shade}` in color";
      @return null;        
  }

  @warn "unknown color `#{$color}` in palette";
  @return null;
}