<h1>Botones</h1>
<section>
  <h2>Contained - Primary</h2>
  <fem-button
    [variant]="buttonVariantRef.Contained"
    [colorType]="colorTypeRef.Primary"
  >
    Primary
  </fem-button>

  <h2>Contained - Secondary</h2>
  <fem-button
    [variant]="buttonVariantRef.Contained"
    [colorType]="colorTypeRef.Secondary"
  >
    Secondary
  </fem-button>

  <h2>Contained - Tertiary</h2>
  <fem-button
    [variant]="buttonVariantRef.Contained"
    [colorType]="colorTypeRef.Tertiary"
  >
    Tertiary
  </fem-button>

  <h2>Text</h2>
  <fem-button
    [variant]="buttonVariantRef.Text"
  >
    Text
  </fem-button>
</section>

<router-outlet></router-outlet>
